@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div class="mt-5">
        <h2>書店機能</h2>
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-primary btn-lg" asp-page="/Search">在庫検索</a>
        </div>
    </div>
</div>
